{
  "branches": [
    {
      "name": "master",
      "channel": "latest",
      "release": true
    },
    {
      "name": "beta",
      "channel": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/git"
  ]
}
